<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/SynergySolariumTest/Bootstrap.php" colors="true" backupGlobals="false" backupStaticAttributes="false">

    <testsuites>
        <testsuite name="Synergy Solarium Test">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>tests</includePath>
        <includePath>./vendor</includePath>
        <includePath>./src</includePath>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" charset="UTF-8"
             yui="true" highlight="true" lowUpperBound="50"
             highLowerBound="80"/>
    </logging>
</phpunit>